/* src/styles/FinalScreen.css */
.final-screen-container {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.final-score {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #00ff7f;
}

.back-button {
    padding: 10px 20px;
    background-color: #00ff7f;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #00cc66;
}
