.settings-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #ffffff; /* White background */
    padding: 1rem;
    border-radius: 8px;
    color: #333; /* Dark grey text color */
    width: 90%;
    max-width: 600px;
    margin: 5vh auto;
    box-shadow: 0 4px 8px rgba(211, 211, 211, 0.5); /* Soft off-white shadow */
}

.select-field label,
.text-field label {
    color: #333 !important; /* Dark grey label color */
}

.select-field .MuiInputBase-root,
.text-field .MuiInputBase-root {
    color: #333 !important; /* Dark grey input text color */
}

.select-field .MuiOutlinedInput-notchedOutline,
.text-field .MuiOutlinedInput-notchedOutline {
    border-color: #28a745 !important; /* Green border color */
}
